loadstring(game:HttpGet("https://raw.githubusercontent.com/randomstring0/iamfe/refs/heads/main/not%20sniper"))()

--[[

// get the rig and the sniper here : https://www.roblox.com/games/136733829568616/unknown-road-places

make sure to watch the video

// the bullet //

-paid
get this bundle first https://www.roblox.com/bundles/598/Elemental-Crystal-Golem
and then wear the elemental shoulder rock

-free
claim this item from a games called concave https://www.roblox.com/catalog/7583370812/Nebula-Blade

// free rig :

https://www.roblox.com/catalog/4819740796
https://www.roblox.com/catalog/3822880197
https://www.roblox.com/catalog/3398308134
https://www.roblox.com/catalog/3033910400
https://www.roblox.com/catalog/4154538250
https://www.roblox.com/catalog/7548993875
https://www.roblox.com/catalog/3438342658
https://www.roblox.com/catalog/4324158403
https://www.roblox.com/catalog/3443038622
https://www.roblox.com/catalog/3409612660


> reanimation using fdless by myworld
]]
  
